.file-uploader{
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  align-items: center;
  justify-content: center;
  padding: 3rem !important;
}

.file-uploader > svg{
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
}

.file-uploader > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.file-uploader > div > span{
  font-size: 1.4rem;
}


.file-uploader > div > .file-types {
  max-width: 100%;
  margin-top: 0.4rem;
  font-size: 0.8rem;
}